.title {
    position: relative;
    width: auto;
    height: 114px;
    top: 370px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 68px;
    color: #000000;
}
.date {
    position: relative;
    width: auto;
    height: 58px;
    top: 310px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}
.description {
    position: relative;
    width: 700px;
    height: 342px;
    top: 270px;

    font-family : 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #000000;
}